.App {
  text-align: center;
}

.nav {
  background: #084e6e5d;
  position: fixed;
  display: flex;
  width: 20%;
  transition: all 0.5s ease;
  font-size: 26px;
  height: 100%;
}
.nav header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  user-select: none;
  text-align: center;
}
.nav ul {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.4s;
  list-style: none;
}
li {
  width: 100%;
  margin: 0;
  padding: "40px";
  color: aliceblue;
}
li:hover {
  padding-left: 20px;
}
.main {
  overflow-y: scroll;
  width: 22%;
  text-align: center;
  left: 245px;
  padding: "10px";
  height: 100%;
}
.dropbtn {
  background-color: #3c3a86;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #000000;
}


.projectList {
  width: 150px;
  height: 80px;
  background-color: darkgray;
  margin: 10px;
}

.card-header{
  display: inline-flex;
  justify-content: space-between;
}
.memberList{
  display: inline-flex !important;
  justify-content: space-between;
}

.fa-trash, .fa-edit{
  padding-top: 10px;
}
